[submodule "ThirdParty/flecs"]
	path = ThirdParty/flecs
	url = https://github.com/SanderMertens/flecs.git
[submodule "ThirdParty/corrade"]
	path = ThirdParty/corrade
	url = https://github.com/mosra/corrade.git
[submodule "ThirdParty/magnum"]
	path = ThirdParty/magnum
	url = https://github.com/mosra/magnum.git
[submodule "ThirdParty/magnum-integration"]
	path = ThirdParty/magnum-integration
	url = https://github.com/mosra/magnum-integration.git