
*.suo
*.user
*.userosscache
*.sln.docstates
*.vs/
*.VC.db
*.VC.VC.opendb

[Dd]ebug/
[Rr]elease/
x64/
x86/
[Bb]in/
[Oo]bj/
[Ll]og/
[Ll]ogs/


*.aps
*.idr
*.ipdb
*.iobj
*.pdb
*.ilk
*.res
*.ncb
*.opt
*.sdf
*.cache
*.db
*.exp
*.lib
*.dll
*.exe
*.obj
*.pch
*.tlog
*.lastbuildstate
*.props
*.tmp

*_i.c
*_p.c
*_h.h
*.manifest
*.idb


bin/
obj/
publish/

packages/
*.nupkg
*.snupkg
.nuget/

# Resharper / Rider
*.sln.iml
_ReSharper*/
*.DotSettings.user

*.pidb
*.userprefs


Deploy/
deploy/

ThirdParty/

!ThirdParty/
!ThirdParty/filament/
!ThirdParty/filament/**/*

*.pid
*.tmp
*.temp


# Windows
Thumbs.db
ehthumbs.db
Desktop.ini
$RECYCLE.BIN/

# macOS
.DS_Store
.AppleDouble
.LSOverride
._*

# Linux
*~


*.key
*.pem
*.pfx
*.password
*.secrets.json
appsettings.*.local.json


# !*.dll  
# !*.lib
/.idea
